<h1>Экскурсионная группа №3</h1>

<h2>Автобус №3</h2>
<h3>31.07.2020</h3>

<%= link_to "Экскурсионная группа №1", exc_group1_path, class: "btn btn-secondary" %>
<%= link_to "Экскурсионная группа №2", exc_group2_path, class: "btn btn-secondary" %>
<br>
<br>
<table class="table color-white table-bordered">
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Левченко Ирина Александровна</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Рубан Юлия Юрьевна</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Красько Ирина Михайловна</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Беззубенко Елена Владимировна</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Бутенко Елена Анатольевна</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Полумискова Анна Анатольевна</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Шевченко Виктория Ивановна</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Гречка Елена Николаевна</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Роенко Тамара Ивановна</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>Сенченко Ольга Владимировна</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>Мкртычян Диана Георгиевна</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>Козачук Ольга Сергеевна</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>Арутюнова Алина Александровна</td>
    </tr>
    <tr>
      <th scope="row">14</th>
      <td>Губанова Дарья Владимировна</td>
    </tr>
    <tr>
      <th scope="row">15</th>
      <td>Пищимуха Марина Витальевна</td>
    </tr>
    <tr>
      <th scope="row">16</th>
      <td>Дугенец Людмила Петровна</td>
    </tr>
    <tr>
      <th scope="row">17</th>
      <td>Степанов Артур Александрович</td>
    </tr>
    <tr>
      <th scope="row">18</th>
      <td>Низовцева Оксана Александровна</td>
    </tr>
    <tr>
      <th scope="row">19</th>
      <td>Сирица Татьяна Валерьевна</td>
    </tr>
    <tr>
      <th scope="row">20</th>
      <td>Исайченко Евгений Андреевич</td>
    </tr>
    <tr>
      <th scope="row">21</th>
      <td>Сергиенко Вячеслав Анатолиевич</td>
    </tr>
    <tr>
      <th scope="row">22</th>
      <td>Мирчук Валентин Станиславович</td>
    </tr>
    <tr>
      <th scope="row">23</th>
      <td>Юрченко Александр Владимирович</td>
    </tr>
    <tr>
      <th scope="row">24</th>
      <td>Гриб Александр Андреевич</td>
    </tr>
    <tr>
      <th scope="row">25</th>
      <td>Варфоломеев Анатолий Анатольевич</td>
    </tr>
    <tr>
      <th scope="row">26</th>
      <td>Аникеев Игорь Олегович</td>
    </tr>
    <tr>
      <th scope="row">27</th>
      <td>Земляной Ярослав Максимович</td>
    </tr>
    <tr>
      <th scope="row">28</th>
      <td>Кравченко Виталий Николаевич</td>
    </tr>
    <tr>
      <th scope="row">29</th>
      <td>Варфоломеева Елена Витальевна</td>
    </tr>
    <tr>
      <th scope="row">30</th>
      <td>Скитский Виталий Юрьевич</td>
    </tr>
    <tr>
      <th scope="row">31</th>
      <td>Коротецкий Андрей Иванович</td>
    </tr>
    <tr>
      <th scope="row">32</th>
      <td>Литвин Юрий Евгеньевич</td>
    </tr>
    <tr>
      <th scope="row">33</th>
      <td>Голобородько Сергей Александрович</td>
    </tr>
    <tr>
      <th scope="row">34</th>
      <td>Семенко Максим Васильевич</td>
    </tr>
    <tr>
      <th scope="row">35</th>
      <td>Сухов Андрей Николаевич</td>
    </tr>
    <tr>
      <th scope="row">36</th>
      <td>Воробьев Александр Анатольевич</td>
    </tr>
    <tr>
      <th scope="row">37</th>
      <td>Дзябяк Сергей Николаевич</td>
    </tr>
    <tr>
      <th scope="row">38</th>
      <td>Лопаенко Александр Юрьевич</td>
    </tr>
    <tr>
      <th scope="row">39</th>
      <td>Быкова Виктория Ивановна</td>
    </tr>
    <tr>
      <th scope="row">40</th>
      <td>Черепивская Алена Анатольевна</td>
    </tr>
    <tr>
      <th scope="row">41</th>
      <td>Лопаенко Екатерина Юрьевна</td>
    </tr>
    <tr>
      <th scope="row">42</th>
      <td>Подруга Кати</td>
    </tr>
  </tbody>
</table>
