<h1>Экскурсионная группа №1</h1>

<h2>Автобус №1</h2>
<h3>31.07.2020</h3>

<%= link_to "Экскурсионная группа №2", exc_group2_path, class: "btn btn-secondary" %>
<%= link_to "Экскурсионная группа №3", exc_group3_path, class: "btn btn-secondary" %>
<br>
<br>

<table class="table color-white table-bordered">
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Шевченко Александр Николаевич</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Чаплина Маргарита Николаевна</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Глуховский Кирилл Сергеевич</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Иванова Татьяна Леонидовна</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Феленко Людмила Владимировна</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Колесников Александр Дмитриевич</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Капустянов Александр Петрович</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Глущенко Павел Владимирович</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Петрук Александр Иванович </td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>Зеленский Константин Александрович</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>Ворошилов Сергей Николаевич</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>Карташов Анатолий Александрович</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>Ралдугин Алексей Григорьевич</td>
    </tr>
    <tr>
      <th scope="row">14</th>
      <td>Губрий Андрей Васильевич</td>
    </tr>
    <tr>
      <th scope="row">15</th>
      <td>Деркач Анатолий Александрович </td>
    </tr>
    <tr>
      <th scope="row">16</th>
      <td>Орехов Константин Викторович</td>
    </tr>
    <tr>
      <th scope="row">17</th>
      <td>Землянский Андрей Валерьевич</td>
    </tr>
    <tr>
      <th scope="row">18</th>
      <td>Янович Виталий Витальевич</td>
    </tr>
    <tr>
      <th scope="row">19</th>
      <td>Кондрак Евгений Викторович</td>
    </tr>
    <tr>
      <th scope="row">20</th>
      <td>Рыжиков Алексей Владимирович</td>
    </tr>
    <tr>
      <th scope="row">21</th>
      <td>Дудник Анатолий Николаевич</td>
    </tr>
    <tr>
      <th scope="row">22</th>
      <td>Захаров Евгений Александрович</td>
    </tr>
    <tr>
      <th scope="row">23</th>
      <td>Купин Олег Владимирович</td>
    </tr>
    <tr>
      <th scope="row">24</th>
      <td>Гуленко Алексей Викторович</td>
    </tr>
    <tr>
      <th scope="row">25</th>
      <td>Глущенко Сергей Владимирович</td>
    </tr>
    <tr>
      <th scope="row">26</th>
      <td>Бородовицын Виктор Васильевич</td>
    </tr>
    <tr>
      <th scope="row">27</th>
      <td>Диброва Виктор Михайлович</td>
    </tr>
    <tr>
      <th scope="row">28</th>
      <td>Емельянов Александр Александрович</td>
    </tr>
    <tr>
      <th scope="row">29</th>
      <td>Головачева Юлия Геннадиевна</td>
    </tr>
  </tbody>
</table>
