<h1>Коблево</h1>
<%= image_tag "lotos_koblevo.jpg" %>
<br>
<br>
<%= link_to "Экскурсионная группа №1", exc_group1_path, class: "btn btn-secondary" %>
<%= link_to "Экскурсионная группа №2", exc_group2_path, class: "btn btn-secondary" %>
<%= link_to "Экскурсионная группа №3", exc_group3_path, class: "btn btn-secondary" %>
