<h1>Программа Сборов</h1>


<%= link_to "Экскурсионная группа №1", exc_group1_path, class: "btn btn-secondary" %>
<%= link_to "Экскурсионная группа №2", exc_group2_path, class: "btn btn-secondary" %>
<%= link_to "Экскурсионная группа №3", exc_group3_path, class: "btn btn-secondary" %>
<br>
<br>

<h3><p><strong>Летний сбор компании с 27.07.2020 по 01.08.2020 </strong></p></h3>
<p><strong>на базе отдыха &laquo;ЛОТОС&raquo;, Николаевская обл., с.Коблево</strong></p>
<p><strong>27.07.2020 (понедельник) День приезда. </strong></p>

<table class="table color-white table-bordered">
  <thead>
    <tr>
      <th scope="col" style="text-align: center;">13.00 – 14.00 Обед</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
        14.00 – 17.00
        <br>
        Региональные эксперты по агрономическому сопровождению. Итоги работы за 1-е полугодие 2020 г.
        <br>
        17.00 – 17.15 Коррекция работы с отчетом по топливу в 1С8 (Шевченко В.И.)
        <br>
        17.15 – 18.00 Ознакомление с внутренними организационными документами (Козачук О.С.)
      </th>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th scope="col" style="text-align: center;">08.00 &ndash; 09.00 Завтрак</th>
    </tr>
  </thead>
</table>
<br>
<br>


<p><strong>28.07.2020 (вторник)</strong></p>

<table class="table color-white table-bordered">
  <thead>
    <tr>
      <th colspan="3" scope="col" style="text-align: center;">08.00 &ndash; 09.00 Завтрак</th>
    </tr>
  </thead>
<tbody>
<tr>
<td width="217">
<p><strong>Первая программа</strong></p>
</td>
<td colspan="2" width="450">
<p><strong>Вторая программа</strong></p>
</td>
</tr>
<tr>
<td rowspan="2" width="217" height="41">
<p>Западный регион отчет за 1-е полугодие 2020 г.</p>
<p>Планирование дальнейшей работы.</p>
<ol>
<li>
<p>09.00 &ndash; 09.30Килинкаров В.П.</p>
</li>
<li>
<p>09.30 &ndash; 10.00 Захарчук Я.А.</p>
</li>
<li>
<p>10.00 &ndash; 10.30 Смаглий В.А.</p>
</li>
<li>
<p>10.30 &ndash; 11.00 Засик Р.В.</p>
</li>
</ol>
<p>Перерыв: 11.00 &ndash; 11.30</p>
<ol start="5">
<li>
<p>11.30 &ndash; 12.00 Дикий А.Н.</p>
</li>
<li>
<p>12.00 &ndash; 12.30 Томашевский Ю.А.</p>
</li>
<li>
<p>12.30 &ndash; 13.00 Музычук А.В.</p>
</li>
</ol>
</td>
<td colspan="2" width="450">
<p>09.00 &ndash; 13.00</p>
<p>Тренинг &laquo;<span lang="en-US">SALES</span>. Перезагрузка 2020. Продажи, которые вдохновляют&raquo; Хлопонин И.Н.</p>
<p>Центральный регион. Отдел мелкой фасовки. ВЭД.</p>
</td>
</tr>
<tr>
<td width="226">
<p><u>Участники тренинга: </u></p>
<p>1. Четверик Алексей Николаевич</p>
<p>2. Тригуб Олег Владимирович</p>
<p>3. Гуленко Юрий Степанович</p>
<p>4. Ладыка Руслан Васильевич</p>
<p>5. Чичикало Николай Николаевич</p>
<p>6. Салогуб Дмитрий Александрович</p>
<p>7. Тимошенко Александр Николаевич</p>
<p>8. Гапченко Игорь Викторович</p>
</td>
<td width="210">
<p>9. Мосийчук Ирина Ивановна</p>
<p>10. Бабич Владислав Ростиславович</p>
<p>11. Довженко Александр Сергеевич</p>
<p>12. Сухов Андрей Николаевич</p>
<p>13. Воробьев Александр Анатольевич</p>
<p>14. Дзябяк Сергей Николаевич</p>
<p>15. Голобородько Сергей Александрович</p>
<p>16. Семенко Максим Васильевич</p>
</td>
</tr>
<tr>
<th colspan="3" style="text-align: center;">
13.00 &ndash; 14.00 Обед
</th>
</tr>
<tr>
<td width="217" height="52">
<p>Восточный регион отчет за 1-е полугодие 2020 г.</p>
<p>Планирование дальнейшей работы.</p>
<ol>
<li>
<p>14.00 &ndash; 14.30 Астраханцева О.Е.</p>
</li>
<li>
<p>14.30 &ndash; 15.00 Киян Е.Н.</p>
</li>
<li>
<p>15.00 &ndash; 15.30 Шевченко П.Н.</p>
</li>
<li>
<p>15.30 &ndash; 16.00 Рубан В.В.</p>
</li>
</ol>
<p>Перерыв: 16.00 &ndash; 16.30</p>
<ol start="5">
<li>
<p>16.30 &ndash; 17.00 Когут В.В.</p>
</li>
<li>
<p>17.00 &ndash; 17.30 Бебешко В.А.</p>
</li>
<li>
<p>17.30 &ndash; 18.00 Сосюра Н.В.</p>
</li>
<li>
<p>18.00 &ndash; 18.30Бобруйко П.С.</p>
</li>
</ol>
</td>
<td colspan="2" width="450">
<p>14.00 &ndash; 17.30</p>
<p>Тренинг &laquo;<span lang="en-US">SALES</span>. Перезагрузка 2020. Продажи, которые вдохновляют&raquo; Хлопонин И.Н.</p>
<p>Центральный регион. Отдел мелкой фасовки. ВЭД.</p>
<p>(Продолжение).</p>
</td>
</tr>
<tr>
<th colspan="3" style="text-align: center;">
18.00 &ndash; 19.00 Ужин
</th>
</tr>
</tbody>
</table>
<p><strong>29.07.2020 (среда) </strong></p>


<table class="table color-white table-bordered">
<tbody>
<tr>
<td colspan="3" width="681">
<p><strong>08.00 &ndash; 09.00 Завтрак</strong></p>
</td>
</tr>
<tr>
<td width="217">
<p><strong>Первая программа</strong></p>
</td>
<td colspan="2" width="450">
<p><strong>Вторая программа</strong></p>
</td>
</tr>
<tr>
<td rowspan="2" width="217" height="27">
<p>Центральный регион отчет за 1-е полугодие 2020 г. Планирование работы.</p>
<ol>
<li>
<p>09.00 &ndash; 09.30 Гуленко Ю.С.</p>
</li>
<li>
<p>09.30 &ndash; 10.00 Ладыка Р.В.</p>
</li>
<li>
<p>10.00 &ndash; 10.30 Чичикало Н.Н.</p>
</li>
<li>
<p>10.30 &ndash; 11.00 Тимошенко А.Н.</p>
</li>
</ol>
<p>Перерыв: 11.00 &ndash; 11.30</p>
<ol start="5">
<li>
<p>11.30 &ndash; 12.00 Довженко А.С.</p>
</li>
<li>
<p>12.30 &ndash; 13.00 Салогуб Д.А.</p>
</li>
</ol>
</td>
<td colspan="2" width="450">
<p>09.00 &ndash; 13.00</p>
<p>Тренинг &laquo;<span lang="en-US">SALES</span>. Перезагрузка 2020. Продажи, которые вдохновляют&raquo; Хлопонин И.Н. Восточный и Западный регион.</p>
</td>
</tr>
<tr>
<td width="217">
<p><u>Участники тренинга:</u></p>
<p>1. Гоменюк Юрий Леонидович</p>
<p>2. Козакевич Сергей Васильевич</p>
<p>3. Бебешко Владимир</p>
<p>4. Сосюра Николай Владимирович</p>
<p>5. Рубан Виктор Викторович</p>
<p>6. Когут Вячеслав Викторович</p>
<p>7. Бобруйко Павел Сергеевич</p>
<p>8. Орловский Николай Иосифович</p>
</td>
<td width="219">
<p>9. Смаглий Виктор</p>
<p>10. Дикий Александр Николаевич</p>
<p>11. Томашевский Юрий Антонович</p>
<p>12. Засик Руслан Владимирович</p>
<p>13. Килинкаров Василий Павлович</p>
<p>14. Захарчук Ярослав Анатольевич</p>
<p>15. Музычук Александр</p>
<p>16. РЭ Западный регион</p>
</td>
</tr>
<tr>
<td colspan="3" width="681">
<p><strong>13.00 &ndash; 14.00 Обед</strong></p>
</td>
</tr>
<tr>
<td width="217" height="37">
<p>Центральный регион отчет за 1-е полугодие 2020 г. Планирование работы.</p>
<ol start="7">
<li>
<p>14.00 &ndash; 14.30 Гапченко И.В.</p>
</li>
<li>
<p>14.30 &ndash; 15.00 Мосийчук И.И.</p>
</li>
<li>
<p>15.00 &ndash; 15.30 Бабич В.Р.</p>
</li>
</ol>
</td>
<td colspan="2" width="450">
<p>14.00 &ndash; 17.30</p>
<p>Тренинг &laquo;<span lang="en-US">SALES</span>. Перезагрузка 2020. Продажи, которые вдохновляют&raquo; Хлопонин И.Н. Восточный и Западный регион. (Продолжение).</p>
</td>
</tr>
<tr>
<td colspan="3" width="681">
<p><strong>18.00 &ndash; 19.00 Ужин</strong></p>
</td>
</tr>
</tbody>
</table>
<p><strong>30.07.2020 (четверг)</strong></p>
<table class="table color-white table-bordered">
<tbody>
<tr>
<td colspan="3" width="681">
<p><strong>08.00 &ndash; 09.00 Завтрак</strong></p>
</td>
</tr>
<tr>
<td width="221">
<p><strong>Первая программа</strong></p>
</td>
<td width="215">
<p><strong>Вторая программа</strong></p>
</td>
<td width="217">&nbsp;</td>
</tr>
<tr>
<td rowspan="2" width="221" height="18">
<p>09.00 &ndash; 09.30 Внешнеэкономическая деятельность предприятия (Коротецкий А.И.)</p>
<p>09.30 &ndash; 10.45 Методика планирования, учет, анализ и контроль прогрессов (Бондарь Н.А., Сенченко О.В.)</p>
<p>10.45 &ndash; 11.00 Перерыв</p>
<p><span lang="uk-UA">11.00 &ndash; 12.00 </span>Презентация нового фирменного стиля <span lang="en-US">DOLINA</span> (Кравченко В.Н.)</p>
<p><span lang="uk-UA">12.00 &ndash; 13.00 Презентация </span><span lang="en-US">AUDITOR</span> (<span lang="uk-UA">Аникеев И.О., Земляной Я.М.) </span></p>
</td>
<td colspan="2" width="446">
<p>09.00 &ndash; 13.00</p>
<p>Женский тренинг &laquo;Вдохновение быть женщиной&raquo; Хлопонин И.Н.</p>
</td>
</tr>
<tr>
<td width="215">
<p><u>Участники тренинга:</u></p>
<p>1. Бондарь Наталья Анатольевна</p>
<p>2. Левченко Ирина Александровна</p>
<p>3. Швец Елена Ивановна</p>
<p>4. Рубан Юлия Юрьевна</p>
<p>5. Красько Ирина Михайловна</p>
<p>6. Беззубенко Елена Владимировна</p>
<p>7. Бутенко Елена Анатольевна</p>
<p>8. Полумискова Анна Анатольевна</p>
<p>9. Шевченко Виктория Ивановна</p>
<p>10.Гречка Елена Николаевна</p>
<p>11.Роенко Тамара Ивановна</p>
</td>
<td width="217">
<p>12. Сенченко Ольга Владимировна</p>
<p>13. Мкртычян Диана Георгиевна</p>
<p>14. Арутюнова Алина Александровна</p>
<p>15. Губанова Дарья Владимировна</p>
<p>16. Пищимуха Марина Витальевна</p>
<p>17. Дугенец Людмила Петровна</p>
<p>18. Сирица Татьяна Валериевна</p>
<p>19. Варфоломеева Елена Витальевна</p>
<p>20. Быкова Виктория Ивановна</p>
<p>21. Черепивская Алена Анатольевна</p>
<p>22. Козачук Ольга Сергеевна</p>
</td>
</tr>
<tr>
<td colspan="3" width="681">
<p><strong>13.00 &ndash; 14.00 Обед</strong></p>
</td>
</tr>
<tr>
<td width="221" height="65">
<p>14.00 &ndash; 16.00 <strong>Обучение:</strong></p>
<p>1. Предпосевная обработка семян озимых культур (Тригуб О.В.).</p>
<p>2. Рекомендации по обработке озимых культур в период осенней вегетации (Козакевич С.В.).</p>
<p>16.00 &ndash; 16.30 Подведение итогов за весенне-летний период(Швец Р.В.)</p>
<p>16.30 &ndash; 16.45 Перерыв</p>
<p>16.45 &ndash; 18.00 Проведение тестирования и кейсов</p>
</td>
<td colspan="2" width="446">
<p>14.00 &ndash; 17.00</p>
<p>Женский тренинг</p>
<p>&laquo;Вдохновение быть женщиной&raquo; Хлопонин И.Н. (Продолжение).</p>
</td>
</tr>
<tr>
<td colspan="3" width="681">
<p><strong>18.00 -19.00 Ужин</strong></p>
</td>
</tr>
</tbody>
</table>
<p><strong>31.07.2020 (пятница) </strong></p>
<table class="table color-white table-bordered">
<tbody>
<tr>
<td colspan="2" width="681">
<p><strong>08.00 &ndash; 09.00 Завтрак</strong></p>
</td>
</tr>
<tr>
<td colspan="2" width="681" height="28">
<p>09.00 &ndash; 13.00</p>
<p>Тренинг для отдела продаж &laquo;Мы - одна команда!&raquo; Хлопонин И.Н.</p>
</td>
</tr>
<tr>
<td width="336" height="4">
<p><u>Участники тренинга:</u></p>
<p>1. Лопаенко Юрий Алексеевич</p>
<p>2. Коротецкий Андрей Иванович</p>
<p>3. Швец Роман Владимирович</p>
<p>4. Гоменюк Юрий Леонидович</p>
<p>5. Козакевич Сергей Васильевич</p>
<p>6. Астраханцева Оксана Евгеньевна</p>
<p>7. Бебешко Владимир Александрович</p>
<p>8. Сосюра Николай Владимирович</p>
<p>9. Киян Евгений Николаевич</p>
<p>10. Шевченко Павел Николаевич</p>
<p>11. Рубан Виктор Викторович</p>
<p>12. Когут Вячеслав Викторович</p>
<p>13. Бобруйко Павел Сергеевич</p>
<p>14. Орловский Николай Иосифович</p>
<p>15. (РЭ Западный регион)</p>
<p>16. Смаглий Виктор Александрович</p>
<p>17. Дикий Александр Николаевич</p>
<p>18. Томашевский Юрий Антонович</p>
<p>19. Засик Руслан Владимирович</p>
</td>
<td width="331">
<p>20. Килинкаров Василий Павлович</p>
<p>21. Захарчук Ярослав Анатольевич</p>
<p>22. Музычук Александр Викторович</p>
<p>23. Четверик Алексей Николаевич</p>
<p>24. Тригуб Олег Владимирович</p>
<p>25. Гуленко Юрий Степанович</p>
<p>26. Ладыка Руслан Васильевич</p>
<p>27. Чичикало Николай Николаевич</p>
<p>28. Салогуб Дмитрий Александрович</p>
<p>29. Гапченко Игорь Викторович</p>
<p>30. Тимошенко Александр Николаевич</p>
<p>31. Мосийчук Ирина Ивановна</p>
<p>32. Бабич Владислав Ростиславович</p>
<p>33. Довженко Александр Сергеевич</p>
<p>34. Сухов Андрей Николаевич</p>
<p>35. Воробьев Александр Анатольевич</p>
<p>36. Дзябяк Сергей Николаевич</p>
</td>
</tr>
<tr>
<td colspan="2" width="681">
<p><strong>13.00 &ndash; 13.45 Обед</strong></p>
</td>
</tr>
<tr>
<td colspan="2" width="681">
<p><strong>14.00 &ndash; 23.00 Экскурсия в г.Одессу</strong></p>
<p><strong>Программа экскурсии:</strong></p>
<ol>
<li>
<p>Выезд из Коблево (ровно в 14.00).</p>
</li>
<li>
<p>Музей коньячного дела Н.Л.Шустова (с дегустацией).</p>
</li>
<li>
<p>Архитектура Одесского Национального академического театра Оперы и Балета.</p>
</li>
<li>
<p>Обзорная экскурсия &laquo;Архитектурная Одесса&raquo; (пешая).</p>
</li>
<li>
<p>Ужин в кафе.</p>
</li>
<li>
<p>Возвращение в Коблево.</p>
</li>
</ol>
</td>
</tr>
</tbody>
</table>

<p><strong>01.08.2020 (суббота)</strong></p>
<table class="table color-white table-bordered">
<tbody>
<tr>
<td width="681">
<p><strong>08.00 &ndash; 09.00 Завтрак</strong></p>
</td>
</tr>
<tr>
<td width="681">
<p><strong>13.00 &ndash; 14.00 Обед</strong></p>
</td>
</tr>
<tr>
<td width="681">
<p><strong>18.00 - Выезд </strong></p>
</td>
</tr>
</tbody>
</table>

