@import "bootstrap";
@import "font-awesome";

@font-face {
   font-family: 'Comfortaa Regular';
   src: url('/assets/10821.ttf')
}

body {
  /*font-size: .875rem;*/
  font-size: 1rem;
  color: white;
  background-color: #333333;
  font-family: 'Comfortaa Regular';
}

/*.full-background {
  background-color: #333333;
}*/

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 20;
  bottom: 100;
  left: 20;
  z-index: 100; /* Behind the navbar */
  /*padding: 50px 50px 50px 50px; /* Height of navbar */
  /*margin: 50px;*/
  padding: 0;
  /*padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 20px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.btn-main {
  font-size: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-color: #ff9933;
  border-width: 2px;
  border-radius: 50px;
  /*width: 280px;*/
  width: 95%;
  color: white;
  margin: 5px;
}

.active {
  color: #ff9933;
  border-color: white;
  border-style: dotted;
  font-size: 1.2rem;
}

.btn-main:hover {
  border-style: dashed;
  color: white;
  font-weight:bold;
}

/*.btn-main:active {
  color: #ff9933;
  border-color: white;
  border-style: dotted;
}*/

.nav-bar-round {
  padding: 10px;
  margin: 0px 77px 0px 77px;
  border-radius: 43px 43px 0px 0px;
  background: linear-gradient(to bottom, #404040 0%, #333333 100%);
}

.custom-icon {
  color: #ff9933;
}

.custom-icon:hover {
  color: white;
}

.custom-icon:active {
  color: white;
}

.color-white {
  color: white;
}

.search-icon {
  color: white;
  width: 40px;
  height: 38px;
  background-color: #ff9933;
}

.border-bottom {
  border-bottom: 4px solid #ff9933 !important;
}

.bg-dark {
 background-color: #333333 !important;
}

.rounded-circle {
  border-width: 2px !important;
  border-color: #ff9933 !important;
}

.card {
  border-width: 2px;
  border-color: #ff9933;
  border-radius: 60px 60px 60px 60px;
  hight: 5rem;
}

.card-img-top{
  border-radius: 40px 40px 40px 40px;
  max-hight: 15rem;
  max-width: 15rem;
  margin-top: 26px;
}

.card:hover {
  /*background-color: white !important;*/
  /*text-color: #333333 !important;*/
  /*opacity: 0.5;*/
  border-style: dashed;
  border-width: 4px;
}
