@import "bootstrap";
@import "font-awesome";
@import "gritter";
@import "jquery-ui";

/*
@font-face {
   font-family: 'Comfortaa Regular';
   src: font-url('10821.ttf')
}

body {
  font-size: 1rem;
  color: white;
  background-color: #333333;
  font-family: 'Comfortaa Regular';
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.sidebar {
  position: fixed;
  top: 20;
  bottom: 100;
  left: 20;
  z-index: 100;
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

[role="main"] {
  padding-top: 133px;
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 20px;
  }
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.btn-main {
  font-size: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-color: #ff9933;
  border-width: 2px;
  border-radius: 50px;
  width: 95%;
  color: white;
  margin: 5px;
}

.active {
  color: #ff9933;
  border-color: white;
  border-style: dotted;
  font-size: 1.2rem;
}

.btn-main:hover {
  border-style: dashed;
  color: white;
  font-weight:bold;
}

.nav-bar-round {
  padding: 10px;
  margin: 0px 77px 0px 77px;
  border-radius: 43px 43px 0px 0px;
  background: linear-gradient(to bottom, #404040 0%, #333333 100%);
}

.custom-icon {
  color: #ff9933;
}

.custom-icon:hover {
  color: white;
}

.custom-icon:active {
  color: white;
}

.color-white {
  color: white;
}

.search-icon {
  color: white;
  width: 40px;
  height: 38px;
  background-color: #ff9933;
}

.border-bottom {
  border-bottom: 4px solid #ff9933 !important;
}

.bg-dark {
 background-color: #333333 !important;
}

.rounded-circle {
  border-width: 2px !important;
  border-color: #ff9933 !important;
}

.card {
  border-width: 2px;
  border-color: #ff9933;
  border-radius: 60px 60px 60px 60px;
  height: 36rem;
}

.card-img-top{
  border-radius: 40px 40px 40px 40px;
  max-hight: 15rem;
  max-width: 15rem;
  margin-top: 26px;
}

.card:hover {
  border-style: dashed;
  border-width: 4px;
}

.dropdown-item {
  color: white;
}

.login {
  max-width: 23rem;
}

.form-control {
  color: white !important;
  text-color: white !important;
}

.table-icons {
  color: #ff9933;
}

.trash-icon {
  color: red;
}
*/

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


/*
 * Custom
 */

.pl0 {
  padding-left: 0px;
}

.bg-image {
  background-image: image-url("main-image.jpg");
}

.top-bottom {
  position : absolute;
  bottom   : 0;
}

.pb-24 {
  padding-bottom: 20px;
}
